.about-me-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
}

.me {
  color: #ff5a5f;
  font-size: 3rem;
  margin-left: 40px;
}

.about-words {
  width: 50%;
  font-size: 1.2rem;
  font-family: 'Linotte', 'Nunito', sans-serif;
}

.about-pic {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.about-pic img {
  height: 277px;
  z-index: 15;
}

.pic-container {
  position: relative;
}

li {
  list-style-type: none;
  margin-bottom: 25px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px)  {
  .about-me-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .about-words {
    height: 50%;
    width: 100%;
    font-size: 1rem;
    font-family: 'Linotte', 'Nunito', sans-serif;
  }

}
