
.header {
  position: absolute;
  top: 50px;
  left: 0;
  margin-left: 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hello {
  font-family: 'Pacifico', cursive;
  color: #ff5a5f;
  font-size: 8rem;
  margin-top: -20px;
  margin-bottom: -30px;
}

.hello-h2 {
  font-family: 'Linotte', 'Nunito', sans-serif;
  font-size: 3rem;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

.hello {
  font-size: 6rem;
  margin-top: -10px;
  margin-bottom: -15px;
}

.hello-h2 {
  font-size: 2rem;
}
}
