@@font-face {
  font-family: "Linotte";
  src: url('./fonts/Linotte-SemiBold.woff') format('woff'),
      url('./fonts/Linotte-SemiBold.woff2') format('woff2'),
      url('./fonts/Linotte-SemiBold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@@font-face {
  font-family: "Pacifico";
  src: url('./fonts/Pacifico-Regular.ttf');
}

.App {
  display: flex;
  flex-direction: column;

}

a {
  text-decoration: none;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

}
